{% extends "layout.html" %}
{% block content %}
<form action="/grades/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Last_name">Last Name</label>
            <input id="Last_name" type="text" class="form-control" placeholder="Last Name" name="Last_name">
        </div>
        <div class="col">
            <label for="First_name">First Name</label>
            <input id="First_name" type="text" class="form-control" placeholder="First Name "
                   name="First_name">
        </div>
        <div class="col">
            <label for="SSN">Social Security</label>
            <input id="SSN" type="text" class="form-control" placeholder="Social Security" name="SSN">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Test1">Test 1</label>
            <input id="Test1" type="text" class="form-control" placeholder="Test 1" name="Test1">
        </div>
        <div class="col">
            <label for="Test2">Test 2</label>
            <input id="Test2" type="text" class="form-control" placeholder=" Test 2 " name="Test2">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Test3">Test 3 </label>

            <input id="Test3" type="text" class="form-control" placeholder="Test 3 "
                   name="Test3">
        </div>
        <div class="col">
            <label for="Test4"> Test 4 </label>
            <input id="Test4" type="text" class="form-control" placeholder=" Test 4" name="Test4">
        </div>
        <div class="col">
            <label for="Final"> Final </label>
            <input id="Final" type="text" class="form-control" placeholder=" Final " name="Final">
        </div>
        <div class="col">
            <label for="Grade"> Grade </label>
            <input id="Grade" type="text" class="form-control" placeholder=" Grade " name="Grade">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}